.container
{
    text-align: center;
}

/*Start your code from here */
#myCarousel{
    background-color: aquamarine;
}

#myCarousel img{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p{
    margin-bottom: 15px;
    margin-top: 15px;
    color : aquamarine;
    font-size: 20px;
}
p {
    text-align: center;
    font-family: cursive;
    font-size: 30px;
    color: darkcyan;
}
#app{
    width: 100%;
    height: 800px;
    background-color: aquamarine;
}
h1{
    font-family: cursive;
    font-size: 30px;
    color: darkcyan;
}